
@import url('../css/fonts.css');

html, body {
    margin: 0%;
    box-sizing: border-box;
    overflow-x: hidden; 
}

:root {
  --text-gray: #3f4954;
  --text-light : #686666da;
  --bg-color: #222;
  --white: #fafafa;
  --midnight: #368091;
  --mid-light: #89c3d0;
  --mid-dark: #6f9ba6;

  --sky: linear-gradient(120deg, #47b0ba 10%, #c2e9fb 100%);

  --Livvic : 'Livvic', cursive;  
  --Oswald : 'Oswald', cursive; 
  --Montserrat : 'Montserrat', cursive; 
}


/* Global Classes */

h1 {
  font-family: var(--Livvic);
  font-size: 2.5rem;
  text-align: center;
}

h2 {
  font-family: var(--Livvic);
}

h3 {
  font-family: var(--Montserrat);
  font-size: 1.3rem;
  margin: .3rem;
} 

h4 {
  font-family: var(--Abel);
  font-size: 1.2rem;
  color: white;
}

a {
  text-decoration: none;
  color: white;
}

ul {
  list-style-type: none;
}

span {
  font-family: var(--Montserrat);
}

p {
  font-family: var(--Livvic);
  color: var(--text-light);
}

hr {    
  width: 10%; 
  border: 1.7px solid  var(--mid-dark);
  margin-top: 3%;
}

@keyframes fade-in {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

button {
  border: none;
  border-radius: 0.2rem;
  padding: 0.7rem 2.5rem;
  font-size: 1.2rem;
  font-family: var(--Livvic);
  cursor: pointer;

  &:hover {
    background-color: transparent;
    border: 1px solid white;
    color: white;
    animation: fade-in 500ms cubic-bezier(0.39, 0.575, 0.565, 1) both;
  }
}

.flex-row {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
} 

.info {
  font-size: 1em;
  font-family: var(--Livvic);
  color: white;
  margin-bottom: 10px;

  i {
    color: var(--midnight);
    margin-right: 8px;
    font-size: 1.1em;
  } 
}

.social i {
  color: var(--white);
  padding: 0 .4rem;
}

.container {
  margin: 0 5vw;
  padding-top: 1rem; 
}

.text-gray {
  color: #b5b5b5;
}

.blog { 
  width: 100%;
  background-size: 45%;
  height: auto;   
} 

.section {
  position: relative;
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  overflow: hidden;
  display: block;
}

.title-sec {
  z-index: 2;
  padding-top: 16%;
  text-align: center;
  color: var(--white);

  h2 {
    font-family: var(--Oswald);
  }
}

.section h1 {
  text-align: center;
  padding: 20px;
  margin: 15px;
  z-index: 1;
  opacity: 0.8;
  font-size: 3.1em;
}

.video-container {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
}

.color-overlay {
  position: absolute;
  top: 0;
  left: 0;
  background-color: black;
  width: 100%;
  height: 100vh;
  opacity: 0.4;
} 

.collapse {
  height: 22rem!important;
}

.nav {
  padding: 0 2rem;
  height: 0rem;
  min-height: 70px;
  overflow: hidden;
  transition: height 1s ease-in-out;
  z-index: 2;
  position: relative;
  // width: 100%;
  border-bottom: 1px solid rgba(255, 2555, 255, 0.4);

  .nav-menu {
    justify-content: space-between;
    margin-left: 5%;
    margin-right: 5%;
  }

  .toggle-collapse {
    position: absolute;
    top: 0%;
    width: 90%;
    cursor: pointer;
    display: none;

    .toggle-icons {
      display: flex;
      justify-content: flex-end;
      padding: 1.7rem 0;

      i {
        font-size: 1.4rem;
        color: var(--white);
      }
    }
  }
  
  .nav-items {
    display: flex;
    margin: 0;

    .nav-link {
      padding: 1.6rem 1rem;
      font-size: 1.1rem;
      position: relative;
      font-family: var(--Livvic);
      font-size: 1.1rem;

      &:hover {
        color: var(--midnight);

        a {
          color: var(--mid-light);
        }
      }
    }
  }

  .nav-brand a {
    font-size: 1.6rem;
    padding: 1.3rem 0;
    display: block;
    font-family: var(--Livvic);
    font-size: 1.6rem;
    width: 100%;
  }
} 

main {

  .site-title { 
    background-size: cover;
    height: 25vh;
    display: flex;
    justify-content: center;
    background-color: gray;
    position: relative;
    z-index: 2;
  
    .site-background {
      padding-top: 2rem;
      text-align: center;
      color: var(--white);
    } 
  }

  .site-title .btn {
    margin: 1.8rem;
    background: var(--sky);

    &:hover {
      background: transparent;
      border: 1px solid var(--white);
      color: var(--white);
    }
  }

  .mid-section {     
    text-align: center;
    font-family: var(--Anton); 

    background-image: url('../assets/beach.png');
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    background-size: cover;  
    padding: 3rem;  

    .btn { 
      border: 1.6px solid var(--mid-dark);
      background-color: var(--mid-dark);
      color: white;
      margin-top: 3%;

      &:hover {
        border: 1.6px solid var(--mid-dark);
        background-color: transparent;
        color: var(--mid-dark);
      }
    }
  }

  .about-area { 
    display: flex;

    .about-info { 
      margin: 6% 3% 6% 3%;
      background: radial-gradient(#f9f9f9 70%, #f4f4f4 90%);
      padding: 5%; 
      display: inline-flex;

      h3 {
        color: var(--mid-dark);
        text-transform: uppercase;
      }

      .fas {
        color: var(--text-light);
      }

      span {
        margin-right: 15px;
      }  
    }
  }

  .blog-post .blog-content {
    display: flex;
    flex-direction: column;
    text-align: center; 
    margin: 2rem 0.5rem;
    box-shadow: 0 15px 20px rgba(0, 0, 0, 0.2); 
  }

  .blog-content {
    .blog-title {
      padding: 2rem 0 3rem 0;
    }

    .btn { 
      background: var(--mid-dark);
      margin-top: 1.5rem;
      color: white;
      border: 1px solid var(--mid-dark);
    }

    .btn:hover { 
      color: var(--mid-dark);
      background: white; 
    }
    span {
      display: block;
      margin-bottom: 1rem;
    }
  }
}  

section .container .owl-nav {
  position: absolute;
  margin: 0 auto;
  width: 100%;
}

.owl-nav {
  .owl-prev .owl-nav-prev, .owl-next .owl-nav-next {
    color: var(--text-gray);
    background: transparent;
    font-size: 3rem;
  }
}

.owl-prev {
  width: 15px;
  height: 100px;
  position: absolute;
  top: 40%;
  margin-left: -20px;
  display: block !important;
  border: 0px solid black;
}

.owl-next {
  width: 15px;
  height: 100px;
  position: absolute;
  top: 40%;
  right: -25px;
  display: block !important;
  border: 0px solid black;
}

.owl-prev i, .owl-next i {
  transform: scale(1, 6);
  color: #ccc;
}

.owl-theme .owl-nav [class*='owl-'] {
  &:hover {
    background: transparent;
    color: var(--midnight);
  }

  outline: none;
}   

main {

  .site-content {
    display: grid;
    grid-template-columns: 70% 30%;
  }

  .post-content {
    width: 100%;
  }

  .site-content .post-content > .post-image {
    padding: 1rem 2rem;
    position: relative;
  }

  .site-content .post-content > .post-image {
    .post-info {
      background: var(--sky);
      padding: 1rem;
      position: absolute;
      bottom: 0%;
      left: 20vw; 
    }

    > div {
      overflow: hidden;
    }

    .img {
      width: 100%;
      transition: all 1s ease;

      &:hover {
        transform: scale(1.3);
      }
    }

    .post-info span {
      margin: 0 .5rem;
    }
  }

  .post-content .post-title a {
    font-family: var(--Anton);
    font-size: 1.5rem;
  }
}


/* Footer */

footer.footer {
  height: 100%;
  background: var(--bg-color);
  position: relative;  

  .container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);

    > div {
      flex-grow: 1;
      flex-basis: 0;
      padding: 3rem .9rem;
    }

    h2 {
      color: var(--white);
    }
  }

  .instagram div > img {
    display: inline-block;
    width: 25%;
    height: 50%;
    margin: .3rem .4rem;
  } 

  .rights {
    justify-content: center;
    font-family: var(--Montserrat); 
    border-top: 1px solid rgba(255, 2555, 255, 0.4);

    h4 a {
      color: var(--white);
    }
  }

  .move-up {
    position: absolute;
    right: 6%;
    top: 50%;

    span {
      color: var(--midnight);

      &:hover {
        color: var(--white);
        cursor: pointer;
      }
    }
  }
  
  .news {
    p {
      margin-top: 2px;
    }
    
    a:hover {
      color: var(--midnight);
    }
  }

  
  form label {
    font-family: var(--Livvic);
    color: var(--white);
  }

  input[type=submit] {
    background-color: #222;
    color: white;
    padding: 12px 20px;
    border: 1px solid white;
    border-radius: 20px;
    cursor: pointer;
    font-family: var(--Livvic);
  
    &:hover {
      background-color: var(--mid-dark); 
      border: 1px solid var(--mid-dark);
    }
  }
  
  input[type=text], select, textarea {
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    margin-top: 6px;
    margin-bottom: 16px;
    font-family: var(--Livvic);
    resize: vertical;
  }
}  

@media only screen and (max-width: 1130px) {
  .site-content {
    .post-content > .post-image .post-info {
      left: 2rem !important;
      bottom: 1.2rem !important;
      border-radius: 0% !important;
    }

    .sidebar .popular-post .post-info {
      display: none !important;
    }
  }

  footer.footer .container {
    grid-template-columns: repeat(2, 1fr);
  }
} 

@media only screen and (max-width: 750px) {

  .nav {
    .nav-menu, .nav-items {
      flex-direction: column;
      padding: 0;
    }

    .toggle-collapse {
      display: initial;
    }
  }

  main .site-content {
    grid-template-columns: 100%;
  }

  footer.footer .container {
    grid-template-columns: repeat(1, 1fr);
  }
}

@media only screen and (max-width: 520px) {

  h1 {
    font-size: 2rem;
  }

  h3 {
    font-size: 1rem;
  }

  main .mid-section {
    padding: 1rem;
    .btn {
      margin: 10%;
    }
  }

  .about-area { 
    display: block!important; 
  }

  footer.footer .move-up {
    top: 86%;
  } 

  .site-content .post-content > .post-image .post-info {
    display: none;
  }

  footer {
    &.footer .container > div {
      padding: 1rem .9rem !important;
    }

    .rights {
      padding: 0 1.4rem;
      text-align: center;
    }
  } 

  nav {
    .toggle-collapse {
      width: 80% !important; 
    }  
  }

  .nav .nav-items .nav-link {
    padding: 1rem 1rem; 
    text-align: center;
  }

  .container {
    border-radius: 5px; 
    padding: 20px;
  } 
}
  